body {
  font-family: 'Roboto';
  margin: 0;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  margin: 8px auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header_links {
  display: flex;
  gap: 32px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 32px 15%;
}

.header_bottom {
  display: flex;
  padding: 100px 15%;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero_main_text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero_secondary_text,
.header_link,
.call_to_action_secondary_text{
  font-size: 18px;
  color: #E5E7EB;
}

.sign_up {
  font-size: 18px;
  color: white;
}

.header,
.footer {
  background-color: #1F2937;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15% 100px 15%;
}

.body_top {
  padding: 48px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.body_bottom {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info img {
  width: 200px;
  height: 200px;
  border: 4px solid #3882F6;
  border-radius: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.info_text {
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: #1F2937;
}

.quote_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 25%;
  background-color: #E5E7EB;
  gap: 16px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 300;
}

.quote_author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 600;
}

.call_to_action {
  padding: 100px 15%;
}

.call_to_action_box {
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 12px;
  padding: 60px 15%;
  gap: 32px;
}

.call_to_action_box button {
  border: 2px solid #F9FAF8;
  margin: 0;
}

.call_to_action_main_text {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 500;
}